*{
    margin: 0px; padding: 0px;
}

header{
    background-color: #bfa829;
}

#lista-principal ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    align-content: center;
    margin-bottom: 0px;
}

#lista-principal ul li{
    font-size: 20px;
    font-weight: bolder;
    color: white;
    margin: 0px auto;
    cursor: pointer;
}

li a{
    text-decoration: none;
}

li a:link{
    color: white;
}

li a:visited{
    color: white;
}

li a:hover{
    color: #83224e;
}

li a:active{
    color: #211a7c;
}

main{
    display: flex;
    flex-direction: column;
    background: rgb(131,34,78);
background: linear-gradient(90deg, rgba(131,34,78,1) 0%, rgba(147,73,106,1) 50%, rgba(255,255,255,1) 100%);
}

#carousel-Kinal img{
    height: 650px;
}

#contenido{
    margin-top: -20px;
    position: relative;
    background-color: white;
    padding: 70px;
    border-radius: 200px 200px 0px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

#card1 .card-title{
    background-color: #83224e;
    padding: 8px;
    border-radius: 150px 0px 150px 0px;
}

#card2 .card-title{
    background-color: rgb(32,52,107);
    padding: 8px;
    border-radius: 150px 0px 150px 0px;
}

#card3 .card-title{
    background-color: #ffb600;
    padding: 8px;
    border-radius: 150px 0px 150px 0px;
}

#card4 .card-title{
    background-color: #187e81;
    padding: 8px;
    border-radius: 25px;
}

#card5 .card-title{
    background-color: #1a0979;
    padding: 8px;
    border-radius: 25px;
}

#contenido2{
    padding: 70px;
    border-radius: 0px 0px 200px 200px;
    background-color: rgb(22,35,63);
    color: white;
}

#donacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#donacion #col-img img{
    width: 420px;
}

#donacion #col-texto{
    margin: 25px;
}

#col-texto h2{
    color: #ffb600;
}

#col-texto p{
    font-size: 20px;
}

#beneficiados .col{
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 5px 8px 5px rgb(40, 88, 179);
}

#col-1{
    background-color: #fda690;
}

#col-2 {
    background-color: #7d0a42;
}

#col-3{
    background-color: #23376d;
}

#col-4{
    background-color: rgb(235, 114, 7);
}

footer{
    background-color: #23376d;
    color: white;
    margin: 0%;
    padding: 6px;
}

footer h3{
    font-family: 'Impact', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#contacto h3{
    display: flex;
    flex-direction: column;
}

#contacto hr{
    padding: 0px;
    margin: 0px;
}

#contacto a{
    text-decoration: none;
    font-size: 19px;
}

#contacto a:link{
    color: white;
}

#contacto a:visited{
    color: white;
}

#contacto a:hover{
    text-shadow: 1px 0px 0px;
    color: #630b28;
}

#contacto a:active{
    color: #ffb600;
}

#redes{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

#redes img{
    width: 15%;
    margin: 5px;
}

#redes button{
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-size: 19px;
    color: white;
}

#redes button:hover{
    background-color: rgb(235,144,34);
    text-shadow: 1px 0px 0px;
    color: #630b28;
}

#redes button:active{
    color: #ffb600;
    background-color: transparent;
}

#copy{
    font: lighter 22px 'Times New Roman', Times, serif;
    text-align: center;
    justify-content: end;
}

#contenedor-Carga{
    display: none;
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-animation: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga{
    border: 15px solid #ccc;
    border-top-color:#F4266c;
    border-top-style:groove ;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*Los parametros de la animación son: nombre, duración, tipo y que sea infinita*/
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite; 
}

@keyframes girar {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

@media screen and (max-width:655px) {
    #lista-principal ul{
        display: grid;
    }
    #lista-principal ul li{
        font-size: 22px;
    }
}
@media (max-width:1250px){
    #contenido{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:840px){
    #contenido{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
