table thead{
    text-align: center;
}

table,
table td,
table th {
    border: solid 1px black;
    padding: 4px;
}

.progreso{
    width: 350px;
}

table {
    grid-row: 2;
    border-radius: 7px;
    background-color: #93B1A6;
    grid-row: 2;
    grid-column: 2;
}

table th {
    font: bolder 17px "Candara";
    color: white;
    background-color: #040D12;
}

table td {
    background-color: white;
    text-align: center;
}

dl {
    padding: 10px;
    text-align: left;
    background-color: #2f6674;
    border-radius: 15px;
}

dl dt {
    border-radius: 5px;
    padding: 1px;
    font: bold 17px "Eras Demi ITC", "Lucida Sans";
    color: white;
    background-color: #082032;
}

dl dd {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
}